* p{
	color: gray;
}
.first-image{
	min-height: 500px;
	padding-top: 51px;
}
.first-image img{
	height: 500px;
	max-width: 100%;
}
.presentation{
	min-height:300px; 
	text-align: center;
}
.vintage-oliva, .laboriosa{
	min-height: 400px;
}
.vintage-oliva-text, .laboriosa-text, .retro-bike-text{
	min-height: 211px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
.vintage-oliva-second-img, .laboriosa-second-img, .retro-central-img{
	margin-top: 20px;
}
.retro-bike{
	min-height: 500px;
}
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
.retro-bike-text{
	min-height: 311px;
}
.tweet{
	text-align: center;
	min-height: 300px;
}
.tweet-text{
	padding-left: 40px;
	padding-right: 40px;
}
.gallery{
	min-height: 400px;
}
.discover{
	margin-right: 15px;
	margin-left: 15px;
	min-height: 150px;
	background-color: black;
	text-align: center;
}
.btn.btn-large{
	margin-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	height: 40px;
	border-style: solid;
	border-color: gray;
	background-color: black;
	color:gray;
	border-radius: 0px;
}
.stayon{
	min-height: 400px;
	text-align: center;
}
input#correo.form-control{
	width: 276px;
}
.form-control{
	height: 50px;
	

}
.btn.go-btn{
	margin-top: 0px;
	height: 50px;
	padding-left: 40px;
	padding-right: 40px;
	border-style: solid;
	background-color: #B0F4B7;
	border-radius: 0px;
}
.fa-4x, .fa-2x{
	color: #5CB8B5;
}
.fa-1x{
	color: lightblue;
}

.social{ 
	
	text-align: center;

}
.social ul {
	padding-left: 0;
}
.social  ul li{
	display: inline;
	margin: 0 5px 0 5px;
}
.image-1{
	 min-height: 500px; 
	 background: transparent url('http://lorempixel.com/1250/500') no-repeat top left; 
	 background-size: cover;
}
.image-2{
	min-height: 400px; 
	background: transparent url('http://lorempixel.com/833/400') no-repeat top left; 
	background-size: cover;
}
.image-3{
	/*<img src="http://lorempixel.com/415/150" alt="">*/
	min-height: 150px; 
	background: transparent url('http://lorempixel.com/415/150') no-repeat top left; 
	background-size: cover;
	margin-top: 19px;
}
.image-4{
	/*<img src="http://lorempixel.com/416/500" alt="">*/
	min-height: 500px; 
	background: transparent url('http://lorempixel.com/415/500') no-repeat top left; 
	background-size: cover;
}
.image-5{
	/*<img src="http://lorempixel.com/416/200" alt="">*/
	min-height: 200px; 
	background: transparent url('http://lorempixel.com/415/200') no-repeat top left; 
	background-size: cover;
}
.image-6-left{
min-height: 200px; 
	background: transparent url('http://lorempixel.com/208/200/cats') no-repeat top left; 
	background-size: cover;
}
.image-6-right{
min-height: 200px; 
	background: transparent url('http://lorempixel.com/208/200') no-repeat top left; 
	background-size: cover;
}
.image-7{
	/*<img src="http://lorempixel.com/208/400/animals" alt="">*/
	min-height: 400px; 
	background: transparent url('http://lorempixel.com/208/400') no-repeat top left; 
	background-size: cover;
}

.image-7-b{
	/*<img src="http://lorempixel.com/208/400/animals" alt="">*/
	min-height: 400px; 
	background: transparent url('http://lorempixel.com/208/400/city') no-repeat top left; 
	background-size: cover;
}